/* CSS Document */

/* Estilo Menu simple para interior de las paginas*/
.basictab{
padding: 3px 0;
margin-left: 0;
/*font: bold 14px Arial;*/
font: 14px Arial;
border-bottom: 1px solid gray;
list-style-type: none;
text-align: left; /*set to left, center, or right to align the menu as desired*/
}

.basictab li{
display: inline;
margin: 0;
}

.basictab li a{
text-decoration: none;
padding: 3px 7px;
margin-right: 3px;
border: 1px solid gray;
border-bottom: none;
background-color: #EEEEEE;
color: #666666;
}

.basictab li a:visited{
color: #666666;
}

.basictab li a:hover{
background-color: #FFFFFF;
color: black;
}

.basictab li a:active{
color: #666666;
}

.basictab li.selected a{ /*selected tab effect*/
position: relative;
top: 1px;
padding-top: 4px;
background-color: #FFFFFF;
color: #666666;
}

/* Estilo de las listas automaticas UL */
ul.list {
	list-style : url(../images/more.gif);
	font-weight: normal;
	/*margin-top:10px;*/
}

ul.list li{
	font-weight: normal; 
	padding-bottom:5px;
	margin-left:20px;
}
